{% extends 'main/base.html' %}
{% load static %}

{% block title %}Контакты{% endblock title %}

{% block content %}
<div class="container">
          <div class="contact__container">
            <button class="btn btn-modal">ДОБАВИТЬ НОВЫЙ КОНТАКТ</button>
              {% for elem in contacts %}
            <div class="contact__cell">
              <div class="contact__title">{{ elem.teacher }}</div>
              <div class="contact__info">
                <div class="contact__text">{{ elem.lesson }}</div>
                <div class="contact__text contact__randomname">{{ elem.contact }}
                </div>
              </div>
              <div class="contact__btns">
                <button class="mini-btn btn-change">ИЗМЕНИТЬ</button>
                <button class="mini-btn btn-cancel">УДАЛИТЬ</button>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="notification">
      текст скопирован в буфер обмена
        </div>
{% endblock content %}


{% block modal %}
      <div class="modal__overlay animate__animated animate__fadeIn">
        <div class="modal__content animate__animated animate__backInDown ">
          <h4 class="modal__title">
            НОВЫЙ КОНТАКТ
          </h4>
          <form class="modal__form" action="">
            <input type="text" class="modal__input modal__input-name input" placeholder="имя преподавателя">
            <input type="text" class="modal__input modal__lesson input" placeholder="предмет">
            <input type="text" class="modal__input modal__contact input" placeholder="контакт">
            <input type="submit" class="modal__btn btn" value="ДОБАВИТЬ">
          </form>
          <i class="modal__icon uil uil-times"></i>
        </div>
      </div>
{% endblock modal %}

{% block js %}
<script src="{% static 'main/js/contact.js' %}"></script>
{% endblock js %}
