{% extends 'main/base.html' %}
{% load static %}

{% block title %}Контакты{% endblock title %}

{% block content %}
<div class="container">
          <div class="contact__container">
              {% if perm %}
            <button class="btn btn-modal">ДОБАВИТЬ НОВЫЙ КОНТАКТ</button>
              {% endif %}
              {% for elem in contacts %}
            <div class="contact__cell">
              <div class="contact__title">{{ elem.teacher }}</div>
              <div class="contact__info">
                <div class="contact__text">{{ elem.lesson }}</div>
                <div class="contact__text contact__randomname">{{ elem.contact }}
                </div>
              </div>
                {% if perm %}
              <div class="contact__btns">
                <button class="mini-btn btn-change" data-id="{{ elem.id }}">ИЗМЕНИТЬ</button>
                <form action="contacts/delete_data" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ elem.id }}">
                    <input type="submit" class="mini-btn btn-cancel" data-id="{{ elem.id }}" value="УДАЛИТЬ">
                </form>
              </div>
                {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="notification">
      текст скопирован в буфер обмена
        </div>
{% endblock content %}


{% block modal %}
      <div class="modal__overlay animate__animated animate__fadeIn">
        <div class="modal__content animate__animated animate__backInDown ">
          <h4 class="modal__title">
            НОВЫЙ КОНТАКТ
          </h4>
          <form class="modal__form" action="contacts/add_data" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" class="input__hidden" value="">
            <input type="text" name="teacher" class="modal__input modal__input-name input" placeholder="имя преподавателя">
            <input type="text" name="lesson" class="modal__input modal__lesson input" placeholder="предмет">
            <input type="text" name="contact" class="modal__input modal__contact input" placeholder="контакт">
            <input type="submit" class="modal__btn btn" value="ДОБАВИТЬ">
          </form>
          <i class="modal__icon uil uil-times"></i>
        </div>
      </div>
{% endblock modal %}

{% block js %}
<script src="{% static 'main/js/contact.js' %}"></script>
{% endblock js %}
