{% extends 'main/base.html' %}
{% load static %}

{% block title %}Объявления{% endblock title %}

{% block content %}
        <div class="container">
          <div class="board__container">
            {% if perm %}
            <button name="new" class="btn btn-modal" >ДОБАВИТЬ НОВОЕ ОБЪЯВЛЕНИЕ</button>
            {% endif %}
            {% for elem in posts %}
            <div class="board__cell">
              <div class="board__box">
                <h4 class="board__title">
                  {{ elem.title }}
                </h4>
                <p class="board__date">
                  {{ elem.time|date:"d.m.y" }} {{ elem.time|time:"H:i" }}
                </p>
              </div>
              <p class="board__text">
                  {{ elem.text }}
              </p>
              {% if perm %}
              <div class="board__btns">
                <button class="mini-btn btn-change" data-id="{{ elem.id }}" name="change">ИЗМЕНИТЬ</button>
                <form action="/delete_data" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{ elem.id }}">
                  <input type="submit" class="mini-btn btn-cancel" data-id="{{ elem.id }}" value="УДАЛИТЬ">
                </form>
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
{% endblock content%}

{% block modal %}
<div class="modal__overlay animate__animated animate__fadeIn">
  <div class="modal__content animate__animated animate__backInDown ">
    <h4 class="modal__title">
      НОВЫЙ МАТЕРИАЛ
    </h4>
    <form class="modal__form" action="/add_data" method="post">
      {% csrf_token %}
      <input type="hidden" name="id" class="input__hidden" value="">
      <input name="title" type="text" class="modal__input modal__input-name input" placeholder="название материала">
      <textarea name="text" class="modal__textarea input" placeholder="описание объявления"></textarea>
      <input type="submit" class="modal__btn btn" value="ДОБАВИТЬ">
    </form>
    <i class="modal__icon uil uil-times"></i>
  </div>
</div>
{% endblock modal %}

{% block js %}
<div class="notification">
  текст скопирован в буфер обмена
</div>
<script src="{% static 'main/js/board.js' %}"></script>
{% endblock js%}