{% extends 'main/base.html' %}

{% block title %}Журнал посещаемости{% endblock title %}

{% block content %}
        <div class="container">
          <div class="lesson__container">
            {% if perm %}
            <a class="btn" href="lesson_edit">ОТМЕТИТЬ СТУДЕНТОВ</a>
            {% endif %}
            <div class="lesson__box">
              <div class="lesson__title">
                {{ lesson_name }}
              </div>
              <div class="lesson__package">
                <div class="lesson__names">
                  {% for student in group %}
                  <div class="lesson__name">{{ student.user.first_name }} {{ student.user.last_name }}</div>
                  {% endfor %}
                </div>
                <div class="lesson__table">
                  {% for date in data %}
                  <div class="lesson__column">
                    <div class="lesson__date">
                      23.04
                      {% if perm %}
                      <a href="lesson_edit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="none">
                          <path fill="#2D004B"
                                d="M12.846 6.502a.65.65 0 0 0-.65.65v3.899a.65.65 0 0 1-.65.65H2.45a.65.65 0 0 1-.65-.65V1.953a.65.65 0 0 1 .65-.65h3.9a.65.65 0 1 0 0-1.3h-3.9A1.95 1.95 0 0 0 .5 1.954v9.098A1.95 1.95 0 0 0 2.45 13h9.097a1.95 1.95 0 0 0 1.95-1.95V7.153a.65.65 0 0 0-.65-.65ZM3.1 6.996V9.75a.65.65 0 0 0 .65.65h2.755a.65.65 0 0 0 .462-.189l4.496-4.503 1.846-1.806a.65.65 0 0 0 0-.923L10.553.192a.65.65 0 0 0-.923 0l-1.833 1.84-4.51 4.502a.65.65 0 0 0-.188.462Zm6.992-5.426 1.84 1.839-.923.923-1.84-1.84.923-.922ZM4.4 7.262 8.252 3.41l1.84 1.839L6.237 9.1h-1.84V7.262Z"/>
                        </svg>
                      </a>
                      {% endif %}
                    </div>
                    <div class="lesson__cell lesson__dear">У</div>
                    <div class="lesson__cell lesson__wasnt">Б</div>
                    <div class="lesson__cell lesson__sick">Н</div>
                    <div class="lesson__cell"></div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock content%}
