{% extends 'main/base.html' %}

{% block title %}Журнал посещаемости{% endblock title %}

{% block content %}
<div class="container">
          <div class="log__container">
            <div class="log__box">
              <div class="log__title">
                Список предметов
              </div>
                <form method="post">
              <div class="log__links" >
                  {% csrf_token %}
                  {% for lesson in lessons %}
                    <button class="modal__btn btn" name="{{ lesson }}">{{ lesson }}</button>
                  {% endfor %}
              </div>
                </form>
            </div>
          </div>
        </div>
    <div class="notification">
      текст скопирован в буфер обмена
    </div>
{% endblock content%}


