{% extends 'main/base.html' %}


{% block content %}
<div class="noticeboard">
    <div class="noticeboard__title">Доска объявлений</div>
    <div class="noticeboard__body">
        {% for elem in posts %}
        <div class="noticeboard__infoblock">
            <div class="noticeboard__infoblock-header">
                <div class="noticeboard__infoblock-title">
                    {{ elem.title }}
                </div>
                <div class="noticeboard__infoblock-date">
                    {{ elem.time }}
                </div>
            </div>

            <div class="noticeboard__infoblock-text">
                {{ elem.text }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}