{% extends 'main/base.html' %}
{% load static %}

{% block title %}Профиль{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock style %}

{% block content %}
<div class="container">
          <div class="profile__container">
            <div class="profile__box">
              <h4 class="profile__title">
                ОСНОВНОЕ
              </h4>
              <form class="profile__form" action="" method="post">
                {% csrf_token %}
                <input type="text" class="profile__input input" name="lastname" placeholder="фамилия" value={{ user.get_last_name }}>
                <input type="text" class="profile__input input" name="firstname" placeholder="имя" value={{ user.get_first_name }}>
                <input type="email" class="profile__input input" placeholder="электронная почта">
                <input type="submit" class="btn" value="СОХРАНИТЬ">
              </form>
            </div>
            <div class="profile__box">
              <h4 class="profile__title">
                ПАРОЛЬ
              </h4>
              <form class="profile__form" action="">
                <div class="profile__new-password">

                  <label class="password__label">
                    <input type="password" class="input password profile__password" placeholder="новый пароль">
                    <i class="sign__eye uil uil-eye"></i>
                  </label>
                  <label class="password__label">
                    <input type="password" class="input password profile__password" placeholder="подтверждение нового пароля">
                    <i class="sign__eye uil uil-eye"></i>
                  </label>
                </div>
                <label class="password__label">
                  <input type="password" class="input password profile__input" placeholder="текущий пароль">
                  <i class="sign__eye uil uil-eye"></i>
                </label>
                <input type="submit" class="btn" value="ОБНОВИТЬ ПАРОЛЬ">
              </form>
            </div>
            <div class="profile__box">
              <h4 class="profile__title">
                ГРУППА
              </h4>
              <div class="profile__group">
                <p class="profile__group-text">Ваша группа: <strong>11-201</strong></p>
                <p class="profile__group-text">Ваша роль: <strong>староста</strong></p>
                <p class="profile__group-text">Староста: <strong>Чарнцев Егор</strong></p>
              </div>
              <div class="profile__person">
                <p class="profile__person-name">
                  Гималетдинова Айсылу
                </p>
                <p class="profile__person-status">
                  заместитель старосты
                </p>
                <div class="profile__person-btn">
                  удалить роль
                </div>
              </div>
              <div class="profile__person">
                <p class="profile__person-name">
                  Гималетдинова Айсылу
                </p>
                <p class="profile__person-status">
                  староста
                </p>
                <div class="profile__person-btn profile__person-btn--disabled">
                  нельзя удалить роль
                </div>
              </div>
              <div class="profile__person">
                <p class="profile__person-name">
                  Гималетдинова Айсылу
                </p>
                <p class="profile__person-status">
                  студент
                </p>
                <div class="profile__person-btn">
                  выдать роль
                </div>
              </div>
              <div class="profile__person">
                <p class="profile__person-name">
                  Гималетдинова Айсылу
                </p>
                <p class="profile__person-status">
                  заместитель старосты
                </p>
                <div class="profile__person-btn">
                  удалить роль
                </div>
              </div>
              <div class="profile__person">
                <p class="profile__person-name">
                  Гималетдинова Айсылу
                </p>
                <p class="profile__person-status">
                  заместитель старосты
                </p>
                <div class="profile__person-btn">
                  удалить роль
                </div>
              </div>

            </div>
          </div>
        </div>
{% endblock content %}
