{% extends 'main/base.html' %}
{% load static %}

{% block title %}Профиль{% endblock title %}

{% block content %}
  <div class="container">
    <div class="profile__container">
      <div class="profile__box">
        <h4 class="profile__title">
          ОСНОВНОЕ
        </h4>
        <form class="profile__form" action="" method="post">
          {% csrf_token %}
          <input type="text" class="profile__input input" name="lastname" placeholder="фамилия" value="{{ user.last_name }}">
          <input type="text" class="profile__input input" name="firstname" placeholder="имя" value="{{ user.first_name }}">
          <input type="text" class="profile__input input" name="email" placeholder="электронная почта" value="{{ user.email }}">
          {% if perm == 2 %}
          <input type="text" class="profile__input input" name="room" placeholder="группа" value={{room_name}}>
          {% endif %}
          <input type="submit" class="btn" name = 'save' value="СОХРАНИТЬ">
          <form method="post">
            <input type="submit" class="btn" name = 'exit' value="ВЫЙТИ" >
          </form>
        </form>
      </div>
      <div class="profile__box">
        <h4 class="profile__title">
          ПАРОЛЬ
        </h4>
        <form class="profile__form" action="" method="post">
          {% csrf_token %}
          <div class="profile__new-password">
            <label class="password__label" name="password">
              <input type="password" class="input password profile__password" name='password1' placeholder="новый пароль">
              <i class="sign__eye uil uil-eye"></i>
            </label>
            <label class="password__label" name="password">
              <input type="password" class="input password profile__password" name='password2' placeholder="подтверждение нового пароля">
              <i class="sign__eye uil uil-eye"></i>
            </label>
          </div>
          <label class="password__label" name="pass">
            <input type="password" class="input password profile__input" name='pass' placeholder="текущий пароль">
            <i class="sign__eye uil uil-eye"></i>
          </label>
          <input type="submit" class="btn" name='newpass' value="ОБНОВИТЬ ПАРОЛЬ">
        </form>
      </div>
      <div class="profile__box">

        <h4 class="profile__title">
          ГРУППА
        </h4>
        <div class="profile__group">
          <p class="profile__group-text">Ваша группа: <strong>{{ cur_student.room }}</strong></p>
          <p class="profile__group-text">Ваша роль: <strong>{{ status }}</strong></p>
          {% if perm == 2 %}
            <p class="profile__group-text">Код вашей группы: <strong>{{ cur_student.room.code }}</strong></p>
          {% endif %}
        </div>
        {% for student in group %}
        <form class="profile__person" action="" method="post">
          {% csrf_token %}
          <p class="profile__person-name">
            {{ student.user.last_name }} {{ student.user.first_name }}
          </p>
          <p class="profile__person-status">
            {{STATUS|get_item:student.permission}}
          </p>
          {% if perm == 2 %}

            {% if student.permission == 2 %}
              <div class="profile__person-btn profile__person-btn--disabled">
                нельзя удалить роль
              </div>
            {% endif %}

            {% if student.permission == 1 %}
              <button class="profile__person-btn" name="del {{ student.user }}">
                удалить роль
              </button>
            {% endif %}

            {% if student.permission == 0 %}
              <button class="profile__person-btn" name="add {{ student.user }}">
                выдать роль
              </button>
            {% endif %}
          {% endif %}
        </form>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
<script src="{% static 'main/js/profile.js' %}"></script>
{% endblock js %}