{% extends 'main/base.html' %}

{% block title %}Расписание{% endblock title %}

{% block content %}
<div class="container">
      <div class="timetable__container">
      {% for day, lessons in data.items %}
        <div class="timetable__column">
          <h3 class="timetable__title">
            {{ DAY|get_item:day }}
          </h3>
          {% for lesson in lessons %}
            {% if perm %}
              <form class="timetable__cell" method="post">
                  {% csrf_token %}
                <input type="text" class="timetable__input" name="start_time" placeholder="начало пары" value="{{ lesson.start_time|time:'H:i'}}">
                <input type="text" class="timetable__input" name="end_time" placeholder="конец пары" value="{{ lesson.end_time|time:'H:i'}}">
                <input type="text" class="timetable__input" name="name" placeholder="пара" value="{{ lesson.name}}">
                <input type="text" class="timetable__input" name="room_num" placeholder="аудитория" value="{{ lesson.room_num}}">
                <button name="{{lesson.day}}*{{lesson.num}}" id="{{lesson.day}}.{{lesson.num}}" class="mini-btn btn-change">изменить</button>
              </form>
            {% else %}
              <div class="timetable__cell">
                  <p class="timetable__time">
                    {{ lesson.start_time|time:"H:i" }} - {{ lesson.end_time|time:"H:i" }}
                  </p>
                  <p class="timetable__text">
                    {{ lesson.name }}
                  </p>
                  <p class="timetable__text">
                    {{ lesson.room_num }}
                  </p>
              </div>
            {% endif %}
          {% endfor %}

        </div>
      {% endfor %}
      </div>
    </div>
{% endblock %}