{% extends 'main/base.html' %}
{% load static %}

{% block title %}Расписание{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock style %}

{% block content %}
    <div class="container">

      <div class="timetable__container">
      {% for elem in list %}
        <div class="timetable__column">
          <h3 class="timetable__title">
            {{ elem.day }}
          </h3>

          <div class="timetable__cell">
            <p class="timetable__time">
              {{ elem.start_time }} - {{ elem.end_time }}
            </p>
            <p class="timetable__text">
              {{ elem.name }}
            </p>
            <p class="timetable__text">
<!--              TODO убрать или добавить в бд-->
              1304
            </p>
          </div>

        </div>
      {% endfor %}
      </div>
    </div>
{% endblock %}