{% extends 'main/base.html' %}

{% block title %}Учебные материалы{% endblock title %}

{% block content %}
 <div class="container">
          <div class="train-material__container">
              {% for elem in materials %}
            <button class="btn btn-modal">ДОБАВИТЬ НОВЫЙ УЧЕБНЫЙ МАТЕРИАЛ</button>

            <div class="train-material__cell">
              <h4 class="train-material__title">
                {{ elem.name }}
              </h4>
<!--                TODO хранить файл а не ссылку-->
              <a class="train-material__link" href="https://www.google.com">{{ elem.file }}</a>
              <div class="train-material__btns">
                <button class="mini-btn btn-change">ИЗМЕНИТЬ</button>
                <button class="mini-btn btn-cancel">
                  УДАЛИТЬ
                </button>
              </div>
            </div>
            {% endfor %}
          </div>
 </div>
{% endblock content %}

{% block modal %}
    <div class="modal">
      <div class="modal__overlay animate__animated animate__fadeIn">
        <div class="modal__content animate__animated animate__backInDown ">
          <h4 class="modal__title">
            НОВЫЙ МАТЕРИАЛ
          </h4>
          <form class="modal__form" action="">

            <input type="text" class="modal__input modal__input-name input" placeholder="название материала">
            <input type="text" class="modal__input modal__input-link input" placeholder="ссылка на материал">
            <input type="submit" class="modal__btn btn" value="ДОБАВИТЬ">
          </form>
          <i class="modal__icon uil uil-times"></i>
        </div>
      </div>
    </div>
{% endblock modal %}


